
.DS_Store
.ipynb_checkpoints
*modules.xml
*.iml
notebooks/License and terms metadata in 5.10+ Dataverse installations/dataset_pids_from_most_known_dataverse_installations.csv
notebooks/License and terms metadata in 5.10+ Dataverse installations/licenseAndBasicMetadataDF.csv
notebooks/License and terms metadata in 5.10+ Dataverse installations/licenses_and_terms_2022.10.02-2022.10.03.csv
notebooks/metadata/licenses_and_terms_2022.10.02-2022.10.03.csv
notebooks/Funding_metadata_in_Dataverse_repositories/allCounts.xlsx
notebooks/Funding_metadata_in_Dataverse_repositories/allDataDF.csv
notebooks/Funding_metadata_in_Dataverse_repositories/contributor(citation)_2023.08.22-2023.08.28.csv
notebooks/Funding_metadata_in_Dataverse_repositories/dataset_pids_from_most_known_dataverse_installations_2023.08.csv
notebooks/Funding_metadata_in_Dataverse_repositories/datasetsInADADF.xlsx
notebooks/Funding_metadata_in_Dataverse_repositories/funding_information(citation)_2023.08.22-2023.08.28.csv
notebooks/Funding_metadata_in_Dataverse_repositories/~$allCounts.xlsx
