
.DS_Store
.ipynb_checkpoints
.idea/modules.xml
.idea/ux-research-data-analysis.iml
.idea/modules.xml
.idea/modules.xml
notebooks/Terms_metadata_in_Dataverse_repositories/Datasets with license plus terms of use metadata/.idea/modules.xml
notebooks/Terms_metadata_in_Dataverse_repositories/.idea/Terms_metadata_in_Dataverse_repositories.iml
notebooks/Terms_metadata_in_Dataverse_repositories/.idea/modules.xml
notebooks/Terms_metadata_in_Dataverse_repositories/Datasets with license plus terms of use metadata/.idea/Datasets with license plus terms of use metadata.iml
