
.DS_Store
.ipynb_checkpoints
*modules.xml
*.iml
notebooks/What_licenses_are_Dataverse_repositories_using\?/basic_metadata_2022.10.02-2022.10.03.csv
notebooks/What_licenses_are_Dataverse_repositories_using\?/dataset_pids_from_most_known_dataverse_installations.csv
notebooks/What_licenses_are_Dataverse_repositories_using\?/licenses_and_terms_2022.10.02-2022.10.03.csv
